<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Static Beer #<%= @static_beer.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Beer Category</dt>
              <dd><%= @static_beer.beer_cat_name %></dd>

              <dt>Calories Per Serving</dt>
              <dd><%= @static_beer.calpertype %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/static_beers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/static_beers/<%= @static_beer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_static_beer/<%= @static_beer.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
