<!-- Validation failure messages -->

<% if @beer.errors.any? %>
  <% @beer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Beer</h3>
      </div>
      <div class="panel-body">
        <form action="/create_beer" class="form-horizontal">
          <!-- Label and input for beer_type -->
          <div class="form-group">
            <label for="beer_type" class="col-sm-2 control-label">
              Beer Type
            </label>
            <div class="col-sm-10">
              <%= select_tag(:beer_type, options_from_collection_for_select(StaticBeer.order("beer_cat_name ASC"), :id, :beer_cat_name, @beer.beer_type), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for beer_name -->
          <div class="form-group">
            <label for="beer_name" class="col-sm-2 control-label">
              Beer Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="beer_name" name="beer_name" placeholder="Beer Name" class="form-control" value="<%= @beer.beer_name %>">
            </div>
          </div>

          <!-- Label and input for num_consumed -->
          <div class="form-group">
            <label for="num_consumed" class="col-sm-2 control-label">
              # Consumed
            </label>
            <div class="col-sm-10">
              <input type="text" id="num_consumed" name="num_consumed" placeholder="# Consumed" class="form-control" value="<%= @beer.num_consumed %>">
            </div>
          </div>

          <!-- Label and input for star_rating -->
          <div class="form-group">
            <label for="star_rating" class="col-sm-2 control-label">
              Star Rating
            </label>
            <div class="col-sm-10">
              <label class="checkbox-inline"> <input type="radio" name="star_rating" id="star_rating1" value="1">1</label>
              <label class="checkbox-inline"> <input type="radio" name="star_rating" id="star_rating2" value="2">2</label>
              <label class="checkbox-inline"> <input type="radio" name="star_rating" id="star_rating3" value="3">3</label>
              <label class="checkbox-inline"> <input type="radio" name="star_rating" id="star_rating4" value="4">4</label>
              <label class="checkbox-inline"> <input type="radio" name="star_rating" id="star_rating5" value="5">5</label>
            </div>
          </div>

          <!-- Label and input for notes -->
          <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">
              Notes
            </label>
            <div class="col-sm-10">
              <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="5" value="<%= @beer.notes %>"> </textarea>
            </div>
          </div>

          <!-- Label and input for fav_save -->
          <div class="form-group">
            <label for="fav_save" class="col-sm-2 control-label">
              Save as Favorite?
            </label>
            <div class="col-sm-10">
                  <label class="checkbox-inline"> <input type="radio" name="fav_save" id="fav_save1" value="Yes">Yes</label>
                  <label class="checkbox-inline"> <input type="radio" name="fav_save" id="fav_save2" value="No">No</label>
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">
            </div>
          </div>

          <div class="panel">
            <div class="panel-body">
              Note: When recording amount consumed, use 1.00 for every beer bottle/can (12 oz), and 1.25 for every pint glass (16 oz).
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Beer" class="btn btn-success">
              or
              <a href="/beers">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
