<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Beer #<%= @beer.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Date Logged</dt>
              <dd><%= @beer.created_at.strftime("%b %e, %Y") %></dd>

              <dt>Date Last Modified</dt>
              <dd><%= @beer.updated_at.strftime("%b %e, %Y") %></dd>

              <dt>Beer Type</dt>
              <dd><%= @beer.staticbeer.beer_cat_name %></dd>

              <dt>Beer Name</dt>
              <dd><%= @beer.beer_name %></dd>

              <dt># Consumed</dt>
              <dd><%= @beer.num_consumed %></dd>

              <dt>Star Rating</dt>
              <dd><%= @beer.star_rating %></dd>

              <dt>Notes</dt>
              <dd><%= @beer.notes %></dd>

              <dt>Saved as Favorite?</dt>
              <dd><%= @beer.fav_save %></dd>

              <dt>User</dt>
              <dd><%= @beer.user.username %></dd>

              <dt>Calories</dt>
              <dd><%= @beer.staticbeer.calpertype.to_i * @beer.num_consumed.to_i %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/beers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/beers/<%= @beer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_beer/<%= @beer.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
