<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Static Exercise #<%= @static_exercise.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
             <dt>Exercise Category</dt>
              <dd><%= static_exercise.exercise_cat_name %></dd>

              <dt>Calories Per Min - Low Intensity</dt>
              <dd><%= static_exercise.calpermin_low %></dd>

              <dt>Calories Per Min - Med. Intensity</dt>
              <dd><%= static_exercise.calpermin_med %></dd>

              <dt>Calories Per Min - High Intensity</dt>
              <dd><%= static_exercise.calpermin_high %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/static_exercises" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/static_exercises/<%= @static_exercise.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_static_exercise/<%= @static_exercise.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
