<!-- Validation failure messages -->

<% if @exercise.errors.any? %>
  <% @exercise.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Exercise On <%= @exercise.created_at.strftime("%b %e, %Y") %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_exercise/<%= @exercise.id %>" class="form-horizontal">
          <!-- Label and input for exercise_category -->
          <div class="form-group">
            <label for="exercise_category" class="col-sm-2 control-label">
              Exercise Category
            </label>
            <div class="col-sm-10">
              <%= select_tag(:exercise_category, options_from_collection_for_select(StaticExercise.all, :id, :exercise_cat_name, @exercise.exercise_category), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for duration -->
          <div class="form-group">
            <label for="duration" class="col-sm-2 control-label">
              Duration
            </label>
            <div class="col-sm-10">
              <input type="text" id="duration" name="duration" placeholder="Duration" class="form-control" value="<%= @exercise.duration %>">
            </div>
          </div>

          <!-- Label and input for intensity -->
          <div class="form-group">
            <label for="intensity" class="col-sm-2 control-label">
              Intensity
            </label>
            <div class="col-sm-10">
              <%= radio_button_tag :intensity, "Low", (true if @exercise.intensity == "Low") %>
              <%= label_tag :intensity1, "Low" %>

              <%= radio_button_tag :intensity, "Medium", (true if @exercise.intensity == "Medium") %>
              <%= label_tag :intensity2, "Medium" %>

              <%= radio_button_tag :intensity, "High", (true if @exercise.intensity == "High") %>
              <%= label_tag :intensity3, "High" %>

            </div>
          </div>

          <!-- Label and input for favsave -->
          <div class="form-group">
            <label for="favsave" class="col-sm-2 control-label">
              Save as Favorite?
            </label>
            <div class="col-sm-10">
            <!-- Doing it this way because the radio helper method has trouble when used multiple times for different columns -->
               <% if @exercise.favsave == "Yes" %>
                  <label class="checkbox-inline"> <input checked="checked" type="radio" name="favsave" id="favsave1" value="Yes">Yes</label>
                  <label class="checkbox-inline"> <input type="radio" name="favsave" id="favsave2" value="No">No</label>
              <% elsif @exercise.favsave == "No" %>
                  <label class="checkbox-inline"> <input type="radio" name="favsave" id="favsave1" value="Yes">Yes</label>
                  <label class="checkbox-inline"> <input checked="checked" type="radio" name="favsave" id="favsave2" value="No">No</label>
              <% else %>
                  <label class="checkbox-inline"> <input type="radio" name="favsave" id="favsave1" value="Yes">Yes</label>
                  <label class="checkbox-inline"> <input type="radio" name="favsave" id="favsave2" value="No">No</label>
              <% end %>
            </div>
          </div>

          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User Name
            </label>
            <div class="col-sm-10">
              <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @exercise.user_id), :class => "form-control") %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Exercise" class="btn btn-warning">
              or
              <a href="/exercises/<%= @exercise.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
