<div class="page-header">
  <h1>
    Exercises
    <a href="/exercises/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date Logged</th>
          <th>Exercise Category</th>
          <th>Duration</th>
          <th>Intensity</th>
          <th>Favorite?</th>
          <th>User Name</th>
          <th>Calories Burned</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @exercises.each do |exercise| %>
          <% if exercise.user.username == current_user.username %>
            <tr>
              <td><%= exercise.created_at.strftime("%b %e, %Y") %> </td>
              <td><%= exercise.staticexercise.exercise_cat_name %></td>
              <td><%= exercise.duration %></td>
              <td><%= exercise.intensity %></td>
              <td><%= exercise.favsave %></td>
              <td> <%= exercise.user.username %> </td>
              <td>
                <% if exercise.intensity == "Low" %>
                  <%= (exercise.staticexercise.calpermin_low * exercise.duration).to_f %>
                <% elsif exercise.intensity == "Medium" %>
                  <%= (exercise.staticexercise.calpermin_med * exercise.duration).to_f %>
                <% elsif exercise.intensity == "High" %>
                  <%= (exercise.staticexercise.calpermin_high * exercise.duration).to_f %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td>
                <a href="/exercises/<%= exercise.id %>" class="btn btn-primary">
                  <i class="fa fa-search-plus"></i>
                </a>
              </td>
              <td>
                <a href="/exercises/<%= exercise.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
              <td>
                <a href="/delete_exercise/<%= exercise.id %>" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1> Total Calories Burned:
          <% running_total = 0 %>
          <% @exercises.each do |exercise| %>
            <% if exercise.user.username == current_user.username %>
              <% running_total = running_total +
                if exercise.intensity == "Low"
                  exercise.staticexercise.calpermin_low.to_f * exercise.duration.to_f
                elsif exercise.intensity =="Medium"
                  exercise.staticexercise.calpermin_med.to_f * exercise.duration.to_f
                elsif exercise.intensity == "High"
                  exercise.staticexercise.calpermin_high.to_f * exercise.duration.to_f
                end %>
            <% end %>
          <% end %>
          <%= running_total %>
         </h1>
      </div>
    </div>
  </div>
</div>

<!-- End simple table layout example -->


