<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Exercise #<%= @exercise.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Date Logged</dt>
              <dd><%= @exercise.created_at.strftime("%b %e, %Y") %></dd>

              <dt>Date Last Modified</dt>
              <dd><%= @exercise.updated_at.strftime("%b %e, %Y") %></dd>

              <dt>Exercise Category</dt>
              <dd><%= @exercise.staticexercise.exercise_cat_name %></dd>

              <dt>Duration</dt>
              <dd><%= @exercise.duration %></dd>

              <dt>Intensity</dt>
              <dd><%= @exercise.intensity %></dd>

              <dt>Saved as Favorite?</dt>
              <dd><%= @exercise.favsave %></dd>

              <dt>User</dt>
              <dd><%= @exercise.user.username %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/exercises" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/exercises/<%= @exercise.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_exercise/<%= @exercise.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
